<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047029599788-dto7p294bbnoi6h8c2eqt45otuk9r0cs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047029599788-dto7p294bbnoi6h8c2eqt45otuk9r0cs</string>
	<key>API_KEY</key>
	<string>AIzaSyBKGey2gXyxypl0g-Poffj5ftFPwSgRpLA</string>
	<key>GCM_SENDER_ID</key>
	<string>1047029599788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pomodore.sg.com.pomodoreSG</string>
	<key>PROJECT_ID</key>
	<string>pomodorosg</string>
	<key>STORAGE_BUCKET</key>
	<string>pomodorosg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047029599788:ios:9e61ace0605614e7c8cb89</string>
</dict>
</plist>